body{
    background-color: aliceblue;
}
hr{
    color: grey;
    border-style: dotted none none none;
    height: 0px;
    width: 10%;
    border-width: 5px;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}